<h2><%= f.label :user_name %></h2>
<div class="frame">
  <%= f.text_field :user_name %>
</div>

<h2><%= f.label :self_introduction %></h2>
<div class="frame">
  <%= f.text_area :self_introduction %>
</div>

<h2><%= f.label :icon %></h2>
<div class="frame">
  <%= f.file_field :icon %>
</div>
