<div class="container">
  <div class="main-content">
    <%= button_to t('.cancel_my_account'), registration_path(resource_name), form: { data: { turbo_confirm: t('views.common.delete_confirm') } }, method: :delete, class: "btn" %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h2><%= f.label :email %></h2>
      <div class="frame">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <%= render 'devise/registrations/profile_fields', f: f %>

      <h2><%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i></h2>
      <div class="frame">
        <%= f.label :password %><br>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em><br>
        <% end %>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em><br>
        <% end %>
      </div>

      <h2><%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i></h2>
      <div class="frame">
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit t('.update'), class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
