<div class="comments-container">
  <% if comments.any? %>
    <ul>
      <% comments.each do |comment| %>
        <% if comment.persisted? %>
          <li id="comment_<%= comment.id %>" class="frame sub-frame">
            <strong><%= comment.user.user_name %></strong><br>
            <p><%= comment.content %></p>
            <p><span class="sub-text"><%= comment.created_at.in_time_zone('Asia/Tokyo').strftime("%Y年%m月%d日 %H時%M分") %></span><br>
            <% if current_user == comment.user %>
              <div class="horizontal">
                <%= button_to t('views.common.destroy', name: Comment.model_name.human), polymorphic_path([commentable, comment]), method: :delete, form: { data: { turbo_confirm: t('views.common.delete_confirm') } }, class: "btn sub-btn" %>
                <%= link_to t('views.common.edit', name: Comment.model_name.human),
                  (commentable.is_a?(Image) ? edit_image_comment_path(commentable, comment) : edit_journal_comment_path(commentable, comment)),
                  class: "btn sub-btn" %>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    (<%= t('views.common.no_data', name: i18n_pluralize(Comment.model_name.human)) %>)
  <% end %>
</div>
