<%= form_with(model: @journal, local: true) do |form| %>
  <%= render 'shared/validation_errors', resource: @journal %>

  <h2><%= form.label :journal_name %></h2>
  <div class="frame">
    <%= form.text_field :journal_name %>
  </div>

  <h2><%= form.label :description %></h2>
  <div class="frame">
    <%= form.text_area :description %>
  </div>

  <% if @journal.new_record? %>
    <h2><%= i18n_pluralize(Image.model_name.human) %></h2>
    <div class="frame">
      <%= form.fields_for :images do |image_form| %>
        <div>
          <%= image_form.label :file %>
          <%= image_form.file_field :file %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
