<%= form_with(model: @journal, local: true) do |form| %>
  <%= render 'shared/validation_errors', resource: @journal %>
  <%= form.submit class: "btn" %>
  <h2><%= form.label :journal_name %></h2>
  <div class="frame">
    <%= form.text_field :journal_name %>
  </div>

  <h2><%= form.label :description %></h2>
  <div class="frame">
    <%= form.text_area :description %>
  </div>
<% end %>
