<h1><%= t('views.common.title_edit', name: Journal.model_name.human.downcase) %></h1>

<%= form_with(model: @journal, local: true) do |form| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
        <% @journal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :journal_name %>
    <%= form.text_field :journal_name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.fields_for :images do |image_fields| %>
      <div>
        <%= image_fields.label :file %>
        <%= image_fields.file_field :file %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<nav class="page-nav">
  <%= link_to t('views.common.show', name: Journal.model_name.human.downcase), @journal %> |
  <%= link_to t('views.common.back', name: i18n_pluralize(Journal.model_name.human.downcase)), journals_path %>
</nav>
