<div class="container">
  <div class="main-content">
    <h1><%= t('views.common.title_index', name: i18n_pluralize(Journal.model_name.human)) %></h1>
    <div id="index" class="list">
      <% @journals.each do |journal| %>
        <%= link_to journal_path(journal) do %>
          <div class="frame">
            <p><strong><%= journal.journal_name %></strong></p>
            <p><%= journal.description %></p>
            <p><%= journal.created_at.in_time_zone('Asia/Tokyo').strftime("%Y年%m月%d日 %H時%M分") %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
