<h1><%= t('views.common.title_show', name: Journal.model_name.human) %></h1>
<%= Journal.human_attribute_name(:journal_name) %>: <%= @journal.journal_name %><br>
<%= Journal.human_attribute_name(:description) %>: <%= @journal.description %><br>

<%= link_to t('views.common.new', name: Image.model_name.human.downcase), new_journal_image_path(@journal) %>

<h2><%= t('views.journal.activity_record') %></h2>
<% if @locations %>
  <div id="map" style="width: 400px; height: 400px;"
      data-locations="<%= @locations.to_json %>"></div>

  <% content_for :scripts do %>
    <%= javascript_include_tag "journals/show_route_map" %>
  <% end %>
<% end %>
<ul>
  <% @images.each do |image| %>
    <li>
      <%= link_to image_path(image) do %><%= image.image_name %><% end %><br>
      <% if image.date_of_shooting %>
        <strong><%= t(Image.human_attribute_name(:date_of_shooting)) %>:</strong>
        <%= image.date_of_shooting.in_time_zone('Asia/Tokyo').strftime("%Y年%m月%d日 %H時%M分") %>
      <% end %>
      <% if image.latitude && image.longitude %>
        <strong><%= t('views.image.location_of_shooting') %>:</strong>
        <%= "(#{image.latitude}, #{image.longitude})" %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2><%= Image.model_name.human %></h2>
<ul>
  <% @images.each do |image| %>
    <%= link_to image_path(image) do %>
      <%= image_tag image.file, alt: image.image_name, class: "fixed-height-image" %>
    <% end %>
    <%= button_to t('views.common.destroy', name: Image.model_name.human.downcase), image_path(image), method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
  <% end %>
</ul>

<%= link_to t('views.common.back_index', name: Journal.model_name.human.downcase), journals_path %> |
<%= link_to t('views.common.edit', name: Journal.model_name.human.downcase), edit_journal_path(@journal) %>
<%= button_to t('views.common.destroy', name: Journal.model_name.human.downcase), @journal, method: :delete, data: { confirm: 'Are you sure?' } %><br>
