<h1><%= t('views.common.title_show', name: Journal.model_name.human) %></h1>
<%= Journal.human_attribute_name(:journal_name) %>: <%= @journal.journal_name %><br>
<%= Journal.human_attribute_name(:description) %>: <%= @journal.description %><br>

<%= link_to t('views.common.new', name: Image.model_name.human.downcase), new_image_path(journal_id: params[:journal_id]) %>

<ul>
  <% @images.each do |image| %>
    <%= link_to image_path(image) do %>
      <%= image_tag image.file, alt: image.image_name, class: "fixed-height-image" %>
    <% end %>
    <%= button_to t('views.common.destroy', name: Image.model_name.human.downcase), image_path(image), method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
  <% end %>
</ul>

<%= link_to t('views.common.back_index', name: Journal.model_name.human.downcase), journals_path %> |
<%= link_to t('views.common.edit', name: Journal.model_name.human.downcase), edit_journal_path(@journal) %>
<%= button_to t('views.common.destroy', name: Journal.model_name.human.downcase), @journal, method: :delete, data: { confirm: 'Are you sure?' } %><br>
