<h1><%= t('views.common.title_edit', name: Image.model_name.human.downcase) %></h1>

<%= form_with model: @image, local: true do |form| %>
  <% if @image.errors.any? %>
    <div class="error_messages">
      <h2><%= t('errors.messages.any') %></h2>
      <ul>
        <% @image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :image_name, style: "display: block" %>
    <%= form.text_field :image_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :memo, style: "display: block" %>
    <%= form.text_area :memo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :date_of_shooting, style: "display: block" %>
    <% if @image.date_of_shooting %>
      <%= form.datetime_local_field :date_of_shooting, class: "form-control", value: @image.date_of_shooting.in_time_zone("Asia/Tokyo").strftime('%Y-%m-%dT%H:%M') %>
    <% else %>
      <%= form.datetime_local_field :date_of_shooting, class: "form-control" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label t('views.image.location_of_shooting'), style: "display: block" %>
    <%= form.text_field :latitude, id: "latitude", class: "form-control", style: "display: none;" %>
    <%= form.text_field :longitude, id: "longitude", class: "form-control", style: "display: none;" %>
  </div>

  <div id="map" style="width: 400px; height: 400px;"></div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "images/edit_shooting_map" %>
<% end %>

<nav class="page-nav">
  <%= link_to t('views.common.back_show', name: Image.model_name.human.downcase), @image %>
</nav>
