<h1><%= t('views.common.title_new', name: i18n_pluralize(Image.model_name.human)) %></h1>

<%= form_with model: @image, local: true do |form| %>
  <div>
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
