<h1><%= t('views.common.title_show', name: Image.model_name.human) %></h1>

<p>
  <strong><%= Image.human_attribute_name(:image_name) %>:</strong>
  <%= @image.image_name %>
</p>

<p>
  <strong><%= Image.human_attribute_name(:memo) %>:</strong>
  <%= @image.memo %>
</p>

<p>
  <strong><%= Image.human_attribute_name(:date_of_shooting) %>:</strong>
  <%= @image.date_of_shooting %>
</p>

<% if @image.file.attached? %>
  <p>
    <%= image_tag @image.file, class: "fixed-height-image" %>
  </p>
<% end %>

<% if @image.latitude && @image.longitude %>
  <p>
    <strong><%= Image.human_attribute_name(:location_of_shooting) %>:</strong>
  </p>
  <div id="map" style="width: 400px; height: 400px;"></div>
  <input type="hidden" id="latitude" value="<%= @image.latitude %>">
  <input type="hidden" id="longitude" value="<%= @image.longitude %>">
<% end %>

<%= javascript_include_tag 'show_map' %>

<nav class="page-nav">
  <%= link_to t('views.common.show', name: Journal.model_name.human.downcase), journal_path(@image.journal) %> |
  <%= link_to t('views.common.back_index', name: Image.model_name.human.downcase), images_path %> |
  <%= link_to t('views.common.edit', name: i18n_pluralize(Image.model_name.human.downcase)), edit_image_path(@image) %>
  <%= button_to t('views.common.destroy', name: Image.model_name.human.downcase), image_path(@image), method: :delete, data: { turbo: false, confirm: "Are you sure?" } %>
</nav>
