<h1><%= t('views.common.title_show', name: i18n_pluralize(Image.model_name.human)) %></h1>

<p>
  <strong><%= Image.human_attribute_name(:image_name) %>:</strong>
  <%= @image.image_name %>
</p>

<p>
  <strong><%= Image.human_attribute_name(:memo) %>:</strong>
  <%= @image.memo %>
</p>

<p>
  <strong><%= Image.human_attribute_name(:latitude) %>:</strong>
  <%= @image.latitude %>
</p>

<p>
  <strong><%= Image.human_attribute_name(:longitude) %>:</strong>
  <%= @image.longitude %>
</p>

<p>
  <strong><%= Image.human_attribute_name(:date_of_shooting) %>:</strong>
  <%= @image.date_of_shooting %>
</p>

<% if @image.file.attached? %>
  <p>
    <%= image_tag @image.file, class: "fixed-height-image" %>
  </p>
<% end %>

<p>
  <strong>Map:</strong>
</p>
<div id="map" style="width: 100%; height: 400px;"></div>

<script>
  function initMap() {
    var latitude = <%= @image.latitude.to_json %>;
    var longitude = <%= @image.longitude.to_json %>;

    // 地図の初期設定（例えば、特定の座標に中心を設定）
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: latitude, lng: longitude},
      zoom: 10
    });

    // マーカーを地図に追加
    var marker = new google.maps.Marker({
      position: {lat: latitude, lng: longitude},
      map: map,
      title: "東京"
    });
  }
</script>

<%= link_to t('views.common.back', name: i18n_pluralize(Image.model_name.human)), images_path %>
